.wrapper {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  //align-items: center;

  h2 {
    text-align: center;
    border-bottom: 1px solid lightgray;
    width: 270px;
    padding: 10px;
    margin: 0 auto;
  }

  .activityWrap {
    display: flex;
    justify-content: space-around;
    margin: 5px 10px 10px;
    .activity {
      text-align: center;
    }
  }

  .socialAct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      text-align: center;
    }
  }
}

