/** @format */

.statItem {
  width: 300px;
  margin: 60px 20px;
  position: fixed;
  right: 20px;
  top: 80px;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 10px;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  position: absolute;
  top: -35px;
  right: 120px;
  flex-direction: column;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    h3 {
      margin: 35px 0 10px;
      font-size: 28px;
    }
  }
  .userStats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    div {
      text-align: center;
      padding: 0 20px 0 10px;
    }
    div:not(:last-child) {
      border-right: 1px solid gray;
    }
  }

  .lastAct {
    margin: 15px 15px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    h4 {
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
  small {
    color: lightgray;
    font-size: 16px;
  }
  .activityWrap {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    .activity {
      text-align: center;
    }
  }
}

.postTitle {
  font-size: 15px;
  font-weight: 500;
  color: red;
}
