/** @format */

.root {
  margin-bottom: 2px;
  margin-left: 10px;
  padding: 30px;
  position: sticky !important;
  top: 60px !important;
  color: white;
  background-color: #000;
  h3 {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      color: red;
    }

    svg {
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
  }
}

.rotated {
  width: 100px;
  transform: rotate(-90deg) translateY(-20px);
  transform-origin: right;
  background-color: rgb(239, 239, 239) !important;
  color: black;
  &:hover {
    color: red;
  }
  svg {
    transform: rotate(270deg);
  }
}

.statItem {
  width: 100%;
  margin-bottom: 25px;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 24px;
    font-weight: 500;
  }
  small {
    color: lightgray;
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}

.postTitle {
  font-size: 15px;
  font-weight: 500;
  color: red;
}
