.messenger {
  height: 100vh;
  display: flex;
  padding: 20px;
  background-color: white;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.chatBox {
  flex: 5.5;
}

.noConversation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.noConversation h2 {
  font-size: 64px;
  font-weight: 700;
  color: #ccc;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 75vh;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}